body {
     color:coral;
    background-color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav {
    background-color:tomato;
    border-radius: 10px 10px 10px 10px;
    color:crimson;
    box-shadow: 7px 7px 7px gray ;
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
}

.container{
    padding: 0px 50px;
}